<% content_for :title, "Editing social media investigation" %>

<h1>Editing social media investigation</h1>

<%= render "form", social_media_investigation: @social_media_investigation %>

<br>

<div>
  <%= link_to "Show this social media investigation", @social_media_investigation %> |
  <%= link_to "Back to social media investigations", social_media_investigations_path %>
</div>
