<% content_for :title, "New social media investigation" %>

<h1>New social media investigation</h1>

<%= render "form", social_media_investigation: @social_media_investigation %>

<br>

<div>
  <%= link_to "Back to social media investigations", social_media_investigations_path %>
</div>
